.ipynb_checkpoints/
.ipynb_checkpoints

imagenes/situaciones_de_riesgo28x28/Asalto
imagenes/situaciones_de_riesgo28x28/Incendio
imagenes/situaciones_de_riesgo28x28/Inundacion
imagenes/situaciones_de_riesgo28x28/Robo_casa_habitacion
imagenes/situaciones_de_riesgo28x28/Tornado

CNN_copy.ipynb

/recursos

!.gitignore